.header {
  margin-top: 92px;
  margin-left: 24px;
  height: 105px;
  width: 1052px;
  display: grid;
  grid-template-columns: 450px auto 265px;
  align-items: center;
}

.header__menu {
  padding-left: 26px;
}

.header__links-list {
  display: flex;
  list-style-type: circle;
  gap: 35px;
  white-space: nowrap;
}

.header__links-list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-underline-offset: 5px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.menu-element-select {
  text-decoration: none;
}

.header__logo {
  margin-left: 10px;
  display: block;
  width: 135px;
  height: 108px;
}

.address {
  padding-right: 56px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-style: normal;
  text-underline-offset: 5px;
}

.address-street {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.cover {
  margin: 96px 0 0;
  height: 757px;
  width: 100%;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: 50%;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover-title {
  padding: 162px 50px 0;
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  font-size: 100px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  letter-spacing: 30px;
}

.align-left {
  align-self: flex-start;
}

.align-center {
  align-self: center;
}

.align-right {
  align-self: flex-end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  margin-top: 120px;
  margin-left: 80px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 20px;
}

.bet-button {
  margin-left: 70px;
  display: block;
  width: 256px;
  height: 51px;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #fff;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
}

.lots {
  margin: 179px 24px;
}

.lots__heading {
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.lots__card-list {
  margin-top: 25px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.lots__card-list-item {
  width: 334px;
  height: 563px;
}

.card-link {
  height: 100%;
  display: block;
  text-decoration: none;
}

.card {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: 50%;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: 50%;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: 50%;
}

.card__title {
  padding: 51px 40px 0;
  display: block;
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
  color: #fff;
}

.card__text {
  padding: 0 40px 48px;
  display: block;
  position: relative;
  z-index: 2;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.lots__look-more-link {
  display: block;
  margin-top: 32px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.about {
  margin: 146px 24px 0;
}

.about__column {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: repeat(3 auto);
  grid-template-areas:
    "logo title"
    ". text-first"
    ". text-second";
}

.about__logo {
  grid-area: logo;
  margin-left: 47px;
  height: 240px;
  width: 240px;
  display: flex;
  background-color: #000;
  border-radius: 100%;
}

.about__logo-image {
  margin: auto;
  width: 61%;
  height: auto;
}

.about__title {
  grid-area: title;
  display: block;
  margin: 100px 25px 0;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.about__text {
  margin: 10px 25px 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.about__text-first {
  grid-area: text-first;
}

.about__text-second {
  grid-area: text-second;
}

.footer {
  margin: 165px 50px 88px;
  padding: 0;
  height: 98px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.footer__menu {
  display: block;
  margin: 0 auto;
}

.footer__menu-list {
  list-style-type: none;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-underline-offset: 4px;
  color: #000;
}

.footer__menu-list-item {
  display: flex;
  justify-content: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  margin-left: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}
